@import "bootstrap";

:root {
    --website-bg: #38bdf8;
    --nav-bg: #cffafe;
    --menu-bg: #fed7aa;
    --main-font-color: #b91c1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: spongebob-font;
    src: url('./assets/spongeboy-me-bob.ttf');
}

body {
    font-family: spongebob-font, sans-serif;
    background: var(--website-bg) url('./assets/imgs/spongebob-clouds.jpg');
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

img {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.header img {
    width: 200px;
}

.nav-tabs {
    width: 50%;
}

.nav-link {
    color: var(--main-font-color);
    cursor: pointer;
}

.nav-link:hover, 
.active {
    color: var(--main-font-color);
}

.menu-item img {
    width: 100px;
}

.contact img {
    width: 350px;
}