@import "bootstrap";

:root {
    --website-bg: #58d4ee;
    --nav-bg: #cffafe;
    --main-bg: #e7d6a3;
    --main-outline: #80572a;
    --main-font-color: #b91c1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: spongebob-font;
    src: url('./assets/spongeboy-me-bob.ttf');
}

body {
    font-family: spongebob-font, sans-serif;
    background: var(--website-bg) url('./assets/imgs/spongebob-clouds.jpg');
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

img {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.header img {
    width: 125px;
}

.nav-tabs {
    width: 50%;
}

.nav-link {
    color: var(--main-font-color);
    cursor: pointer;
}

.nav-link:hover, 
.active {
    color: var(--main-font-color);
}

.home,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 618px;
    height: 525px;
}

.home img {
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.menu {
    display: grid;
    grid-template-areas: 
        "title title"
        "patties meals"
        "sides drinks";
    grid-gap: 1.5rem;
}

.menu-title {
    color: var(--main-font-color);
    grid-area: title;
    text-align: center;
}

.patties {
    grid-area: patties;
}

.meals {
    grid-area: meals;
}

.sides {
    grid-area: sides;
}

.drinks {
    grid-area: drinks;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.menu-item p:first-child {
    width: 70%;
}

.main {
    background-color: var(--main-bg);
    border: 3px solid var(--main-outline);
    padding: 4rem;
}

.contact p {
    padding: 0.5rem;
    margin-bottom: 0;
}

.contact img {
    padding: 0.5rem;
    width: 350px;
}

.footer {
    text-align: center;
    padding-top: 1rem;
    width: 100%;
}