:root {
    --website-bg: #38bdf8;
    --menu-bg: #fed7aa;
}

@font-face {
    font-family: spongebob-font;
    src: url(./assets/spongeboy-me-bob.ttf);
}

body {
    font-family: spongebob-font, sans-serif;
    background: var(--website-bg) url(./assets/imgs/spongebob-clouds.jpg);
}

img {
    display: block;
    width: 100%;
}

.header img {
    width: 200px;
}

.menu-item img {
    width: 100px;
}

.contact img {
    width: 350px;
}